.btn-Ulist{
    background-color: #03457a;
    color: white;
    font-weight: bold;
}
.btn-add{
    background-color:  #ed3c0d;
    color: white;
    font-weight: bold;
}
.btn-add:disabled{
    background-color:  #03457a;
    color: white;
    opacity: 1;
    font-weight: bold;
}
.btn-blue{  
    background-color:  white;
    color: #3c729a;
    border-color:  #3c729a;
    border-width: 0.3ch;
    font-weight: bold;
}
.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}


.friend-list {
    padding: 0;
}
.friend-list > li {
    float: left;
    width: 50%;
}
.friend-list > li > a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0.625rem;
    margin: 1px;
    background: #fff;
}
.friend-list > li > a:after,
.friend-list > li > a:before {
    content: "";
    display: table;
    clear: both;
}
.friend-list .friend-img {
    float:left;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    background: #e9f3f7;
    border-radius: 12px;
}
.friend-list .friend-info {
    margin-left: 5.625rem;
   
}
.friend-list .friend-info h4 {
    margin: 0 0 0 0;
    font-size: 0.875rem;
    font-weight: 800;
    color: black;
}
.friend-list .friend-info a {
    color: #666;
    margin: 0;
    font-size: 0.775rem;
    font-weight: 400;
} 

.modal-content{
    border-radius: 26px;
}
.btn-close{
    color:  #3c729a;
}
.modal-header {
    border-bottom: 0px solid #dee2e6;
}
.centered {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: bold; 
    top: 380px;
    margin-left: 33px 
  }  


  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #cefae9;
    background-color: #cefae9;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top:10%;
    width: 100%;
    text-align: center;
   
    margin-top: 20px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #245570;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #245575;
    opacity: 0.5;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #245575;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }