  <!-- ======= Header ======= -->
  <header id="header" class="">
    <div class="container d-flex align-items-center">
      <div class="dropdown">
        <img role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="height: 10px;" src="../../../assets/img/Toggle.png"/>&nbsp;&nbsp;
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" (click)="Logout()"  style="cursor: pointer;">Logout</a></li>
          
        </ul>
      </div>
    <h5 (click)="HomeRedirect()" style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursor: pointer;" class="logo me-auto">YourList</h5>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> --> 
      <a href="#appointment" style="color: black; font-weight: bolder;" class=" ">  {{authUser.data.Name}}&nbsp;&nbsp;</a>
<img style="height: 30px; width: 30px; border-radius: 50%;" class="img-responsive img-circle" src={{authUser.data.ImageUrl}}/>
    </div>
  </header><!-- End Header -->

 <!-- ======= Top Bar ======= -->
 <div id="topbar" class="d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div id="banner" class="align-items-center d-none d-md-flex">
       
    </div>
    <div class="d-flex align-items-center">
      <button data-bs-toggle="modal" href="#exampleModalToggle" role="button" class="btn btn-Ulist rounded-pill">Create New List</button>
    </div>
  </div>
</div>
<!-- Main  -->
<main>
  <div class="container">
    <div class="row">
      <p class="text text-danger mt-3">{{masterSelectedListDate}}</p>
      <div  class="col-md-12" style="margin-top: -5px;"> 
        <b class="" style="font-size: x-large;">
          <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="dropdown">
        {{masterSelectedList}}
        &nbsp;
          <img style="height: 10px; margin-top: -2px;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  src="../../../assets/img/Iconly.png" />
          &nbsp;
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li *ngFor="let item of masterList"><a (click)="LoadListItem(item.Id,item.Name)" class="dropdown-item"  style="cursor: pointer;">{{item.Name}}</a></li>
              
            </ul>
            <img  
            (click)="GetMasterList()"
            data-bs-toggle="modal" href="#exampleModalToggle2" role="button"
            style="height: 35px;"
            src="../../../assets/img/Edit.png"/>
            
            &nbsp;
            <img 
            (click)="GetSharedLink()" 
             role="button"
            style="height: 35px;"
            src="../../../assets/img/share.png"/>
            
          </div>
         
         
        </b>
       
      </div>
     
      </div>
  </div>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
     
      <form  id="postForm" [formGroup]="listForm" (ngSubmit)="AddJobPost()">
      <div class="d-flex justify-content-center px-4">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <input class="form-control textbox" formControlName="Name" placeholder="Add url" style="border-radius: 50px; background-color: #eaf1f9;" type="text"  />
        </div>
        <div class="col-md-4">
        &nbsp;  <button [disabled]="!listForm.valid" class="btn btn-add btn-block rounded-pill" type="submit"> 
            <span *ngIf="this.btnLoader"  class="spinner-border spinner-border-sm" role="status"></span>
            <span *ngIf="this.btnLoader"  class="load-text"> Adding...</span>
            <span *ngIf="!this.btnLoader" class="btn-text">  Add </span>
           
          </button>
        </div>
     
      </div> 
      
      </form>  
    </div>
  </div>

<!-- Add MasterList Model -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Create Master List</h5>
        <button type="button" #closeAddExpenseModal1 class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  [formGroup]="listMasterForm" (ngSubmit)="addMasterList()">
      <div class="modal-body"> 
          <div class="mb-3">
            
            <input formControlName="Name" style="border-radius: 50px; background-color: #eaf1f9;" type="text" class="form-control textbox" placeholder="New Master List" id="recipient-name">
          </div> 
      </div>
      <div class="modal-footer">
       
        <button class="btn btn-add rounded-pill" type="submit" >
          <span *ngIf="this.btnLoader1"  class="spinner-border spinner-border-sm" role="status"></span>
          <span *ngIf="this.btnLoader1"  class="load-text"> Please wait...</span>
          <span *ngIf="!this.btnLoader1" class="btn-text">  Create List </span>
           
        </button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Edit  ListItem Model -->
<div class="modal fade" id="exampleModalToggle1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" style="color: #3c729a; font-weight: bolder;" id="exampleModalToggleLabel">Edit item 

          <p style="color: black;">from <b>{{masterSelectedList}}</b></p>  
        </h6>  
        <button style="margin-top: -40px; color: #3c729a;" type="button" #closeAddExpenseModal3 class="btn-close" (click)="ModalClose()"  data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>

      <form  [formGroup]="listForm" (ngSubmit)="AddJobPost()">
      <div class="modal-body"> 
          <div class="mb-3">
            <ul class="friend-list clearfix">
              <div class="row">
                <div   class="col-md-4 mb-4">
                  <li>
                    <a href="#">
                        <div class="friend-img">
                          <img style="width: 5rem; height: 5rem;" src="../../../assets/img/Group 6.png" alt="" /> 
                        </div>
                       
                        <div class="friend-info">
                            <h4>{{ListHead}}</h4>
                            <a href="">{{ListDesc}}</a>
                        </div>
                     
                    </a>
                   
                </li> 
                </div> 
              </div>
             
          </ul> 
            <input style="border-radius: 50px; background-color: #eaf1f9;" formControlName="Name" type="text" class="form-control textbox" id="recipient-name">
          </div> 
      </div>
      <div class="modal-footer"> 
            <button role="button" type="button" class="btn btn-blue rounded-pill"  (click)="Delete()" ><i class="bi bi-trash"></i> 
              <span *ngIf="this.btnLoader2"  class="spinner-border spinner-border-sm" role="button"></span>
              <span *ngIf="this.btnLoader2"  class="load-text"> Please wait...</span>
              <span *ngIf="!this.btnLoader2" class="btn-text">  Delete this item </span>
            </button>
         
            <button class="btn btn-add rounded-pill" type="submit" >
              <span *ngIf="this.btnLoader1"  class="spinner-border spinner-border-sm" role="status"></span>
              <span *ngIf="this.btnLoader1"  class="load-text"> Please wait...</span>
              <span *ngIf="!this.btnLoader1" class="btn-text">  Update </span>
               
            </button>
         
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Edit  Master-Item Model -->
<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" style="color: #3c729a; font-weight: bolder;" id="exampleModalToggleLabel">Edit List 

          <p style="color: black;">  <b>Edit Master List</b></p>  
        </h6>  
        <button style="margin-top: -40px; color: #3c729a;" type="button" class="btn-close" #closeAddExpenseModal (click)="CloseMasterModal()"  data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>

      <form  [formGroup]="listMasterForm" (ngSubmit)="addMasterList()">
      <div class="modal-body"> 
          <div class="mb-3"> 
            <input style="border-radius: 50px; background-color: #eaf1f9;" formControlName="Name" type="text" class="form-control textbox" id="recipient-name">
          </div> 
      </div>
      <div class="modal-footer"> 
            <button role="button" type="button" class="btn btn-blue rounded-pill"  (click)="DeleteMaster()" ><i class="bi bi-trash"></i> 
              <span *ngIf="this.btnLoader2"  class="spinner-border spinner-border-sm" role="button"></span>
              <span *ngIf="this.btnLoader2"  class="load-text"> Please wait...</span>
              <span *ngIf="!this.btnLoader2" class="btn-text">  Delete this item </span>
            </button>
         
            <button class="btn btn-add rounded-pill" type="submit" >
              <span *ngIf="this.btnLoader1"  class="spinner-border spinner-border-sm" role="status"></span>
              <span *ngIf="this.btnLoader1"  class="load-text"> Please wait...</span>
              <span *ngIf="!this.btnLoader1" class="btn-text">  Update </span>
               
            </button>
         
      </div>
    </form>
    </div>
  </div>
</div>
 
  <!-- Listing -->
  <div class="container mt-4">
    <div class="row">
   <div class="col-md-12">
    <ul class="friend-list clearfix">
      <div class="row">
        <div *ngFor="let item of list; let i=index" class="col-md-4 mb-4">
          <li>
          
                <div class="friend-img"> 
                  <h2 class="text text-center mt-4">{{i+1}}</h2>
                 
                </div>
               
                <div class="friend-info">
                    <h4>{{item.HostName}}</h4>
                   
                    <a href={{item.Name}}>{{item.Name | slice:0:45}}</a><br>
                    <a  data-bs-toggle="modal" href="#exampleModalToggle1" role="button"
                    (click)="Edit(item.Id)" style="color: #da2d17; font-weight:bold;">EDIT</a>
                     
                </div> 
          
            
           
        </li> 
        </div> 
      </div>
     
  </ul>
   </div>
 
    </div>
  </div>
</main>

<footer id="footer" class="d-flex   fixed-bottom">
    <div class="container d-flex align-items-center justify-content-center   text-center">
      <button data-bs-toggle="modal" href="#exampleModalToggle" role="button" class="btn btn-Ulist rounded-pill">Create New List</button>
    </div>
  </footer> 